@charset "UTF-8";
body {
	background-image: url(../Resources/bg.gif);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #000000;
	font-family: 'Ceviche One', cursive;
	font-family: 'Aclonica', sans-serif;
}
a.link{
	color: yellow;
}

div{
	text-align: center;
}
body, html{
	color: orangered;
	font-size: 2.0em;
}


#start{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
}
#name, #white{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 70%;
	max-width: 70%;
	z-index: 1;
}
#white{
	height: 80%;
	max-width: 80%;
	opacity: 0.2;
	z-index: 2;
}

#main{
	position: absolute;
	top: 100%;
	left: 5%;
	right: 5%;
	padding-bottom: 10%;
	margin: auto;
	background: rgba(255 ,255 ,255 , 0.2);
}

#box{
	
	display: block;
	
	margin: auto;
	width: 100%;
}

#projects{
	
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: center;
	flex-wrap: wrap;
}
.content{
	max-width: 30%;
	height: 255px;
	margin: 3%;
	background: rgba(252, 126, 67, 0.2)
}

.img{
	width: 255px;
	height: 255px;
}

#twitter{
	font-size: 0.5em;
	color: skyblue;
}