@charset "UTF-8";
body {
	background-image: url(../Resources/bg.gif);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #000000;
}
a#link{
	color: yellow;
}

div{
	text-align: center;
}
div#games{
	margin-top: 200px;
}
#imgWorks{
	max-width: 100px;
	height: auto;
}
#imgTanni{
	max-width: 20px;
	height: auto;
}

div#botom{
	margin-top: 300px;
}

a#twitter{
	color: skyblue;
}