@charset "UTF-8";
body {
	background-image: url(../Resources/bg.gif);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #000000;
}
a.link{
	color: yellow;
}

div{
	text-align: center;
}
body, html{
	height: 100%;
	width: 100%
}
div#start{
	height: 100%;
	width: 100%;
}
#name, #white{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 70%;
	max-width: 70%;
	z-index: 1;
}
#white{
	height: 80%;
	max-width: 80%;
	opacity: 0.2;
	z-index: 2;
}
div#games{
	margin-top: 200px;
}
#imgWorks{
	max-width: 100px;
	height: auto;
}
.imgTanni{
	max-width: 20px;
	height: auto;
}

div#botom{
	margin-top: 300px;
}

a#twitter{
	color: skyblue;
}